In [1]:
#meta 4/21/2021 myClassify (multiclass) for LSHTC - Data prep
# task: classify text (multiclass) 
# input: my-input/lshtc3_wikipedia_med_df_train_multilabel.pkl

#task: Multi-category text classification - supervised
#based on aml_0_dataprep.ipynb
#      4/15/2021 DATA PREP 
#      LSHTC3 reduced ds with less labels
#      Important reset index - fast.ai dataloaders don't like a gap in index
#      to avoid -> TypeError: 'float' object is not iterable

#history
#4/21/2021 INPUT DF W/ MULTI-LABELS
#      multi-labels per document
#      requires pandas 1.1.0+ (myTrainBox env nlp_lshtc)

#4/23/2021 REDO INPUT DF W/ MULTI-LABELS
#      Imploded df subset w/ multi-labels
#      Reverted to one field `labels` with strings separated by space (per book Ch.6)
#      Subset Imploded df -> implode labels from each record into docs with multi labels per doc
#      127043 imploded documents x 3 fields docno, text, labels
#      (1 rec = 1 doc -> many labels)
#      confirmed: 139 unique labels

In [2]:
%matplotlib inline
#import time as time #to track performance time
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.rcParams["figure.figsize"] = (10,6)
from joblib import load, dump

# LSHTC: Data Prep for Classifying Text

## 0. Load Data
input: a prepared pickle with less labels (~).

In [4]:
df = load('data/lshtc3_wikipedia_med_df_train_sub_multilabel.pkl') 
print(df.shape)
print(df.columns)
df.head()

(127043, 3)
Index(['docno', 'text', 'labels'], dtype='object')

,docno,text,labels
3,2,Alain Connes (born 1 April 1947) is a French m...,130762
4,3,Ayn Rand (born Alisa Zinov'yevna Rosenbaum; Fe...,352578 395447 27512
8,4,"Allan Dwan (April 3, 1885 – December 28, 1981)...",390846 395447
11,5,"Andre Kirk Agassi (born April 29, 1970) is an ...",14661
16,6,Aldous Leonard Huxley (26 July 1894 \u2013 22 ...,106615

## 1. Data Prep
Tidy data - pick relevant columns

In [5]:
df_tidy = df[['text', 'labels']].copy()
#df_tidy['labels'] = df_tidy['labels'].astype('category')
df_tidy.dtypes

text      object
labels    object
dtype: object

ML Expected Format: input features X(matrix) and target variable y(also matrix).  
X - column 'text'  
y - columns with 'label_'

In [6]:
#preview ready dataset
df_tidy.head()

                                                 text               labels
3   Alain Connes (born 1 April 1947) is a French m...               130762
4   Ayn Rand (born Alisa Zinov'yevna Rosenbaum; Fe...  352578 395447 27512
8   Allan Dwan (April 3, 1885 – December 28, 1981)...        390846 395447
11  Andre Kirk Agassi (born April 29, 1970) is an ...                14661
16  Aldous Leonard Huxley (26 July 1894 \u2013 22 ...               106615

In [7]:
#reset index - fast.ai dataloaders don't like a gap in index
#to avoid -> TypeError: 'float' object is not iterable
#$note: if need to preserve 'docno', set drop = False
df_tidy.reset_index(drop=True, inplace=True)
df_tidy.head(2)

                                                text               labels
0  Alain Connes (born 1 April 1947) is a French m...               130762
1  Ayn Rand (born Alisa Zinov'yevna Rosenbaum; Fe...  352578 395447 27512

In [8]:
#save file prepped for sentiment analysis
dump(df_tidy, 'output/lshtc3_wikipedia_med_df_train_sub_multilabel_tidy.pkl')

['output/lshtc3_wikipedia_med_df_train_sub_multilabel_tidy.pkl']

In [ ]:
mystop

##### Xtra

In [ ]:
#clean df
df_tidy.rename_axis(index = None, inplace=True)
df_tidy.head(2)